<h2> Players Get Ready!</h2>
<form action = "/names" method = "post">
    Enter Player 1 name: <input type = "text" name="player_1" /><br><br>
    Enter Player 2 name: <input type = "text" name="player_2" /><br><br>
    <input type="submit" value="Submit">
  </form>